*{
margin:0;
padding:0;
box-sizing: border-box;
}
body {
 background-color: black   
}
#contenedor{

margin: 50px    }
#menu{
width: 100%;
display: inline-block;
text-align: right;
}
#menu a{

color: #FFF;
text-decoration: none;
font-size: 24px;
padding: 5px 20px;
margin-right:110px;
}
#menu a:hover , #activo{
	border-bottom: 2px solid #FFF;

}
#principal img{
           position: relative;
bottom: 32px
}
#capitulo1 iframe {
 margin-bottom: 30px;
width: 700px;
height: 400px;
}

#capitulo2 iframe {
float: right;
    margin-bottom: 30px;
    width: 700px;
height: 400px;
position: absolute;
bottom: 157px;
left: 800px
   
}
#titulo1 h2 {
color:red;    
font-size: 32px;
text-transform: uppercase;
font-weight: normal;
position: absolute;
left: 300px;
    bottom:150px
}
#titulo2 h2 {
color:red;    
font-size: 32px;
text-transform: uppercase;
font-weight: normal;
position:absolute;
left: 1050px;
    bottom: 150px;
    }
#copy p{
text-align: justify;
margin-bottom: 200px;
 color: #FFF;   
font-size: 10px;
letter-spacing:4px;
margin: 5px 0 30px;
width: 500px;
    position:absolute;
top: 970px;
}